*{
    box-sizing: border-box;
    padding: 0;
    margin:0
}

#game-header
{
    display: flex;
    justify-content: space-between;
}

#game-board
{
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: auto;
}

.attempt
{
    width: 75px;
    height: 75px;
}

body
{
    background-color:darkslategrey;
}

.sqr {
  width: 33%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

